* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 0 16px;
    background-color: #B3D8A8;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
    background-color: #3D8D7A;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p,
a {
    color: #FBFFE4;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.note {
    background: #fff;
    border-radius: 7px;
    padding: 10px;
    width: 260px;
    margin: 16px;
}

.note p {
    font-size: 1.3em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    color: #A3D1C6;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    border: none;
}

form.create-note {
    position: relative;
    width: 100%;
    margin: 30px auto 20px auto;
    background: #FBFFE4;
    padding: 15px;
    border-radius: 1px;
}

form.create-note input,
form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    background-color: #FBFFE4;
}

form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -28px;
    background: #A3D1C6;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    cursor: pointer;
    outline: none;
}

form.create-note button:hover {
    position: absolute;
    right: 18px;
    bottom: -28px;
    background: #C4DAD2;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    cursor: pointer;
    outline: none;
}