name: cron job

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * SUN' # 每周日的午夜12点执行

jobs:
  get_openapi_output:
    runs-on: ubuntu-latest
    outputs:
      openapi_content: ${{ steps.get_content.outputs.response }}
    steps:
      - id: get_content
        name: get content from online open api
        run: |
          response=$(curl "https://v2.jinrishici.com/one.json" | jq ".data.content")
          echo "response=$response" >> $GITHUB_OUTPUT
  auto_create_notes:
    runs-on: ubuntu-latest
    needs: get_openapi_output
    steps:
      - name: curl api to create default notes
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_APIKEY: ${{ secrets.SUPABASE_APIKEY }}
        run: |
          curl --request POST \
          --url "$SUPABASE_URL" \
          --header "Apikey: $SUPABASE_APIKEY" \
          --header 'Content-Type: application/json' \
          --header 'User-Agent: sddtc-client' \
          --data '{"note":${{ needs.get_openapi_output.outputs.openapi_content }},"creator":"anonymous"}'